*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

a{
	color: black;
	text-decoration: none;
}

html{
	font-family: 'Montserrat', sans-serif;
	scroll-behavior: smooth;
}

section{
	min-height: 100vh;
	justify-content: center;
	align-items: center;
}

.container img{
	position: absolute;
	width: 100%;
	height: 100%;
}

#page2{
	position: relative;
	background-color: #5192A8;
}

#page2 h1{
	position: absolute;
	top: 150%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.scrolldown{
	position: absolute;
	height: 40px;
	width: 270px;
	border: 2px solid black;
	color: black;
	left: 40%;
	bottom: 55%;
	border-radius: 50px;
	cursor: pointer;
}

.scrolldown::before,
.scrolldown::after{
	content: "CLICK TO START";
	position: absolute;
	top: 22%;
	left: 50%;
	transform: translateX(-50%);
	animation: scrolldown 1s ease-in-out infinite;
}

audio{
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.question{
	position: absolute;
	top: 65%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.options{
	display: flex;
	position: absolute;
/*	position: absolute;
	margin-left: 50%;
	margin-top: 35%;
	transform: translate(-50%, -50%);
	justify-content: center;
	align-items: center;*/
	width: 80%;
	margin-top: 40%;
	margin-left: 51%;
	transform: translate(-50%, -50%);
	justify-content: center;
	align-items: center;
/*	padding-left: 20px;
*/}

.options a{
	text-decoration: none;
}

.option1{
	background-color: white;
/*	content: "STAY CLOSER TO FIRE";
*/	opacity: 0.5;
	margin: auto;
}

.option2{
	background-color: white;
	opacity: 0.5;
	margin: auto;
}

.option1 h2{
	font-size: 5vh;
	padding: 20px;
	cursor: pointer;
}

.option1 a{
	text-decoration: none;
}

.option1:hover{
	color: crimson;
}

.option1 a:hover{
	color: crimson;
}

.option2 h2{
	font-size: 5vh;
	padding: 20px;
	cursor: pointer;
}

.option2 a{
	text-decoration: none;
}

.option2:hover{
	color: crimson;
}

.option2 a:hover{
	color: crimson;
}

#dynamic{
	display: none;
}

#scrolldown{
	display: block;
}

#audio{
	display: block;
}

.name{
/*	position: absolute;
	margin-top: 1%;
	margin-left: 20%;*/
	position: absolute;
	margin-left: 40%;
	margin-top: 5%;
	font-size: 8vh;
}

#dynamic2{
	display: none;
}

#page4{
	position: relative;
	background-color: #5192A8;
	display: none;
}

#page5{
	position: relative;
	background-color: #5192A8;  /*ugh im bored*/
	display: none;
}

#dynamic4{
	display: none;
}

.options3{
	display: flex;
	position: absolute;
/*	position: absolute;
	margin-left: 50%;
	margin-top: 35%;
	transform: translate(-50%, -50%);
	justify-content: center;
	align-items: center;*/
	width: 60%;
	margin-top: 40%;
	margin-left: 51%;
	transform: translate(-50%, -50%);
	justify-content: center;
	align-items: center;
/*	padding-left: 20px;
*/}

.option31{
	background-color: white;
	opacity: 0.5;
	margin: auto;
}

.option32{
	background-color: white;
	opacity: 0.5;
	margin: auto;
}

.option31 h2{
	font-size: 5vh;
	padding: 20px;
	cursor: pointer;
}

.option31 a{
	text-decoration: none;
}

.option31:hover{
	color: crimson;
}

.option31 a:hover{
	color: crimson;
}

.option32 h2{
	font-size: 5vh;
	padding: 20px;
	cursor: pointer;
}

.option32 a{
	text-decoration: none;
}

.option32:hover{
	color: crimson;
}

.option32 a:hover{
	color: crimson;
}

#page7{
	position: relative;
	background-color: #5192A8; /*daze off*/
	display: none;
}


#page8{
	position: relative;
	background-color: #5192A8; /*go to tent*/
	display: none;
}

.info{
	position: absolute;
	right: 595px;
	bottom: 80px;
	background-color: #FFF9C6;
	opacity: 0.9;
	padding: 15px;
	cursor: pointer;
/*	border:2px solid gray;
*/}

.info p{
	color: white;
}

.info:hover{
	opacity: 1;
	background-color: #945659;
}


