*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

a{
	color: black;
	text-decoration: none;
}

h2{
	font-weight: 300;
}

html{
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	scroll-behavior: smooth;
}

section{
	min-height: 100vh;
	justify-content: center;
	align-items: center;
}

.container img{
	position: absolute;
	width: 100%;
	height: 100%;
}

.daytime{
	width: 100%;
	height: 100%;
	position: absolute;
}

#page2{
	position: relative;
}

#page2 h1{
	position: absolute;
	top: 150%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.scrolldown{
	position: absolute;
	height: 40px;
	width: 270px;
	border: 2px solid black;
	color: black;
	left: 40%;
	bottom: 55%;
	border-radius: 50px;
	cursor: pointer;
}

.scrolldown::before,
.scrolldown::after{
	content: "CLICK TO START";
	position: absolute;
	top: 22%;
	left: 50%;
	transform: translateX(-50%);
	animation: scrolldown 1s ease-in-out infinite;
}

audio{
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.question{
	position: absolute;
	top: 67%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-weight: 400;
}

.options{
	display: flex;
	position: absolute;
/*	position: absolute;
	margin-left: 50%;
	margin-top: 35%;
	transform: translate(-50%, -50%);
	justify-content: center;
	align-items: center;*/
	width: 80%;
	margin-top: 40%;
	margin-left: 51%;
	transform: translate(-50%, -50%);
	justify-content: center;
	align-items: center;
/*	padding-left: 20px;
*/}

.options a{
	text-decoration: none;
}

.option1{
	background-color: white;
/*	content: "STAY CLOSER TO FIRE";
*/	opacity: 0.8;
	margin: auto;
}

.option2{
	background-color: white;
	opacity: 0.8;
	margin: auto;
}

.option1 h2{
	font-size: 5vh;
	padding: 20px;
	cursor: pointer;
}

.option1 a{
	text-decoration: none;
}

.option1:hover{
	color: crimson;
}

.option1 a:hover{
	color: crimson;
}

.option2 h2{
	font-size: 5vh;
	padding: 20px;
	cursor: pointer;
}

.option2 a{
	text-decoration: none;
}

.option2:hover{
	color: crimson;
}

.option2 a:hover{
	color: crimson;
}

#dynamic{
	display: none;
}

#scrolldown{
	display: block;
}

#audio{
	display: block;
}

#audio2{
	visibility: hidden;
}

#audio3{
	visibility: hidden;
}

#audio4{
	visibility: hidden;
}

#audio5{
	visibility: hidden;
}

#audio6{
	visibility: hidden;
}

#audio7{
	visibility: hidden;
}

.name{
	position: absolute;
	margin-left: 42.5%;
	margin-top: 5%;
	font-size: 12vh;
	font-family: 'Amatic SC', cursive;
	letter-spacing: 5px;
}

#page3{
	position: relative;
	display: none;
}

#dynamic2{
	display: none;
}

.options2{
	display: flex;
	position: absolute;
/*	position: absolute;
	margin-left: 50%;
	margin-top: 35%;
	transform: translate(-50%, -50%);
	justify-content: center;
	align-items: center;*/
	width: 60%;
	margin-top: 40%;
	margin-left: 52%;
	transform: translate(-50%, -50%);
	justify-content: center;
	align-items: center;
/*	padding-left: 20px;
*/}

.option21{
	background-color: white;
	opacity: 0.8;
	margin: auto;
}

.option22{
	background-color: white;
	opacity: 0.8;
	margin: auto;
}

.option21 h2{
	font-size: 5vh;
	padding: 20px;
	cursor: pointer;
}

.option21 a{
	text-decoration: none;
}

.option21:hover{
	color: crimson;
}

.option21 a:hover{
	color: crimson;
}

.option22 h2{
	font-size: 5vh;
	padding: 20px;
	cursor: pointer;
}

.option22 a{
	text-decoration: none;
}

.option22:hover{
	color: crimson;
}

.option22 a:hover{
	color: crimson;
}

#page4{
	position: relative;
	display: none;
}

#dynamic3{
	display: none;
}

#page5{
	position: relative;
	display: none;
}

#page6{
	position: relative;
	display: none;
}

#dynamic4{
	display: none;
}

.options3{
	display: flex;
	position: absolute;
/*	position: absolute;
	margin-left: 50%;
	margin-top: 35%;
	transform: translate(-50%, -50%);
	justify-content: center;
	align-items: center;*/
	width: 60%;
	margin-top: 40%;
	margin-left: 51%;
	transform: translate(-50%, -50%);
	justify-content: center;
	align-items: center;
/*	padding-left: 20px;
*/}

.option31{
	background-color: white;
	opacity: 0.8;
	margin: auto;
}

.option32{
	background-color: white;
	opacity: 0.8;
	margin: auto;
}

.option31 h2{
	font-size: 5vh;
	padding: 20px;
	cursor: pointer;
}

.option31 a{
	text-decoration: none;
}

.option31:hover{
	color: crimson;
}

.option31 a:hover{
	color: crimson;
}

.option32 h2{
	font-size: 5vh;
	padding: 20px;
	cursor: pointer;
}

.option32 a{
	text-decoration: none;
}

.option32:hover{
	color: crimson;
}

.option32 a:hover{
	color: crimson;
}

#page7{
	position: relative;
	display: none;
}

#dynamic5{
	display: none;
}

.options4{
	display: flex;
	position: absolute;
/*	position: absolute;
	margin-left: 50%;
	margin-top: 35%;
	transform: translate(-50%, -50%);
	justify-content: center;
	align-items: center;*/
	width: 60%;
	margin-top: 40%;
	margin-left: 51%;
	transform: translate(-50%, -50%);
	justify-content: center;
	align-items: center;
/*	padding-left: 20px;
*/}

.option41{
	background-color: white;
	opacity: 0.8;
	margin: auto;
}

.option42{
	background-color: white;
	opacity: 0.8;
	margin: auto;
}

.option41 h2{
	font-size: 5vh;
	padding: 20px;
	cursor: pointer;
}

.option41 a{
	text-decoration: none;
}

.option41:hover{
	color: crimson;
}

.option41 a:hover{
	color: crimson;
}

.option42 h2{
	font-size: 5vh;
	padding: 20px;
	cursor: pointer;
}

.option42 a{
	text-decoration: none;
}

.option42:hover{
	color: crimson;
}

.option42 a:hover{
	color: crimson;
}

#page8{
	position: relative;
	display: none;
}


.option221{
	background-color: white;
	opacity: 0.8;
	margin: auto;
}

.option222{
	background-color: white;
	opacity: 0.8;
	margin: auto;
}

.option221 h2{
	font-size: 5vh;
	padding: 20px;
	cursor: pointer;
}

.option221 a{
	text-decoration: none;
}

.option221:hover{
	color: crimson;
}

.option221 a:hover{
	color: crimson;
}

.option222 h2{
	font-size: 5vh;
	padding: 20px;
	cursor: pointer;
}

.option222 a{
	text-decoration: none;
}

.option222:hover{
	color: crimson;
}

.option222 a:hover{
	color: crimson;
}

.evening{
	width: 100%;
	height: 100%;
	position: absolute;
}

.night{
	width: 100%;
	height: 100%;
	position: absolute;
}

.info{
	position: absolute;
	right: 595px;
	bottom: 80px;
	background-color: #FFF9C6;
	opacity: 0.9;
	padding: 15px;
	cursor: pointer;
	border:2px solid gray;
	display: none;
}

.info p{
	color: white;
}

.info:hover{
	opacity: 1;
	background-color: #945659;
	border:2px solid #3B3245;
}

.info2{
	position: absolute;
	right: 595px;
	bottom: 80px;
	background-color: #FFF9C6;
	opacity: 0.9;
	padding: 15px;
	cursor: pointer;
	border:2px solid gray;
	display: none;
}

.info2 p{
	color: white;
}

.info2:hover{
	opacity: 1;
	background-color: #945659;
	border:2px solid #3B3245;
}
